@media screen and (min-width: 1024px ){

}


/*

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0 none;
    outline: none;
}


body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 100px;
    position: relative;
    color: #141311;

}

/**************************
*        Header
***************************/
/*
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.3);
}

#navigation-bar {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #03A9F4;
}

#navigation-bar #logo {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}

#navigation-bar #logo img {
    height: 90px;
    margin: 5px auto;
}

#navigation-bar #menu {
    float: right;
    width: 74%;
    height: 100%;
}

#navigation-bar #menu li {
    display: inline-block;
    width: 20%;
    text-align: center;
}

#navigation-bar #menu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 100px;
    color: #E1F5FE;
}

#navigation-bar #open-menu-btn {
    display: none;
}

#navigation-bar #menu li a:hover {
    color: white;
    background-color: #29B6F6;
}

#navigation-bar #menu li a:active {
    color: white;
    background-color: #039BE5;
}


/****************************
 *        Content
 ****************************/
/*
#navBar {
    color: #A8916C;
    margin: 20px 10px;
}

#content {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #857356;
    margin: 15px 0;
}



/******* Home ***************/
/*
#search-index {
    margin: 70px auto;
    width: 70%;

}
#search-index #search-index-box{
    width: 85%;
    height: 40px;
    border: 1px solid #D1B482;
    background-color: #F2E6D0;
    padding-left: 20px;
    color: #A8916C;
    /* Box sizing per spostare i bordi all'interno del calcolo di height*/
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Border radius cross browser */
    /*-webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#search-index input[type=submit]{
    width: 15%;
    height: 40px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #D1B482;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
}

#musicType {
    width: 49%;
    display: inline-block;
}
#musicType ul {
    margin: 30px 0;
}

#musicType li {
    height: 50px;
    line-height: 50px;
    width: 80%;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    background-color: #DEBF8A;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    font-size: 14px;
    font-weight: bold;
    color: #E06F28;
    text-transform: uppercase;
    text-align: center;
}

#musicType li:hover {
    color: white;
    background-color: #E0C699;
}

#lastNews{
    width: 49%;
    margin-left: 1%;
    display: inline-block;

    vertical-align: top;
}

.newSong, .newArticle {
    width: 80%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #DEBF8A;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    margin: 20px auto;
}
.newSong h4, .newArticle h4 {
    margin: 5px 0 15px 20px;
    font-size: 16px;
}
.newSong p, .newArticle p {
    font-size: 12px;
}



/********** Artists **************/
/*
#artist-list {
    width: 60%;
    margin: 20px auto;
}

#artist-list .artist {
    background-color: #DEBF8A;
    height: 70px;
    margin: 30px 0;
    list-style: none;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    position: relative;
}
#artist-list .artist .mini-artist-image {
    overflow:hidden;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#artist-list .artist .artist-name {
    position: absolute;
    top: 10px;
    left: 110px;
    font-weight: bold;
    color: #CC7037;
}



/***********Article single ***********/
/*
#article-author{
    font-weight: bold;
    font-size: 14px;
}
#article-date {
    font-size: 12px;
    color: #242220;
}
#article-head h2 {
    text-align: center;
    color: #383837;
    font-size: 22px;
}

#article-content {
    font-size: 14px;
    line-height: 28px;
    margin: 30px auto 0;
    width: 80%;
}

/******* Single artist ************/
/*
#artist-description {
    width: 90%;
    margin: 0 auto;
    height: 100px;
}

#artist-photo {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #DEBF8A;
    margin: 0 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    overflow: hidden;
}

#artist-photo img {
    width: 100%;
}

#artist-name {
    float: left;
    display: inline-block;
    line-height: 100px;
    margin: 0;
}

#artist-bio {
    width: 80%;
    margin: 40px auto;
    font-size: 14px;
    line-height: 28px;
}

/****** Login ***************/
/*
#login-form {
    width: 60%;
    margin: 40px auto;
}

#login-form label {
    width: 19%;
    color: #857356;
    font-size: 14px;
    display: inline-block;
    line-height: 34px;
    margin: 8px 0;
}

#login-form input[type=text], #login-form input[type=password] {
    width: 79%;
    height: 34px;
    border: 1px solid #D1B482;
    background-color: #F2E6D0;
    padding-left: 20px;
    color: #A8916C;
    /* Box sizing per spostare i bordi all'interno del calcolo di height*/
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Border radius cross browser */
    /*-webkit-border-bottom: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#login-form input[type=submit] {
    display: block;
    margin: 35px auto;
    width: 40%;
    color: white;
    background-color: #D1B482;
    line-height: 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}

#login-form input[type=submit]:hover {
    background-color: #ddc08c;
}

/********* Sign In ****************/
/*
#signin {
    width: 60%;
    margin: 40px auto;
}

#signin-form {
    margin-top: 50px;
}

#signin label {
    width: 19%;
    color: #857356;
    font-size: 14px;
    display: inline-block;
    line-height: 34px;
    margin: 8px 0;
}

#signin input[type=text], #signin input[type=password] {
    width: 79%;
    height: 34px;
    border: 1px solid #D1B482;
    background-color: #F2E6D0;
    padding-left: 20px;
    color: #A8916C;
    /* Box sizing per spostare i bordi all'interno del calcolo di height*/
    /*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Border radius cross browser */
    /*-webkit-border-bottom: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#signin input[type=submit] {
    display: block;
    margin: 35px auto;
    width: 40%;
    color: white;
    background-color: #D1B482;
    line-height: 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
    cursor: pointer;
}

#signin input[type=submit]:hover {
    background-color: #ddc08c;
}


/********* Search Page ************/
/*
#search-results {
    width: 80%;
    margin: 40px auto;
}

#search-results h1 {
    text-align: left;
}

#search-results ul {
    width: 92%;
    margin: 20px 4%;
}

#search-results .result-list {
    list-style: none;
    margin-top: 20px;
}

#search-results .result-list:hover {
    list-style: square;
}

#search-results .result-list h4 {
    font-size: 16px;
    color:#023DED;
}
#search-results .result-list p {
    margin-left: 20px;
    color: #383837;
    font-size: 14px;
    width: 60%;
}

/***********************************
*   Footer
************************************/
/*
#footer {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 11px;
    color: #857356;
}
