* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: 0 none;
    list-style: none;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 100%;
}

.aiuti {
    font-size: 1px;
    height: 1px;
    position: fixed;
    left: -99999px;
    top: 0;
}

/********************
 HEADER
 ********************/
#header {
    width: 100%;
    background-color: #01579B;
    -webkit-box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.6);
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.6);
    z-index: 100;
}

#navigation-bar {
    width: 100%;

}

#navigation-bar #logo {
    height: 4.5em;
    text-align: center;
    margin-left: 1em;
}

#navigation-bar #logo img {
    height: 3.5em;
    margin: 0.5em auto;
}

#navigation-bar #menu {
    width: 100%;
    background-color: #01579B;
    text-transform: uppercase;
}

#navigation-bar #menu li {
    display: block;
    width: 100%;
}

#navigation-bar #menu li a {
    font-size: 1.125em;
    line-height: 2.5em;
    height: 100%;
    width: 100%;
    color: white;
    display: block;
    text-align: center;
    -webkit-transition: all 0.2s cubic-bezier(.55, 0, .1, 1) 0s;
    -moz-transition: all 0.2s cubic-bezier(.55, 0, .1, 1) 0s;
    -o-transition: all 0.2s cubic-bezier(.55, 0, .1, 1) 0s;
    transition: all 0.2s cubic-bezier(.55, 0, .1, 1) 0s;
}

#navigation-bar #menu li a:hover {
    background-color: #0277BD;
}

#navigation-bar #menu li a:active {
    background-color: #1565C0;
}

/*************************
 CONTENT
 *************************/

#content {
    margin: 0.5em;
}

/*************** LINKS *********************/
#content a {
    color: #1A237E;
}

#content a:hover {
    text-decoration: underline;
}

#content a:visited {
    color: #4527A0;
}

/*******************************************/

#nav-bar {
    color: #222;
    font-size: 1em;
}

h1 {
    font-size: 3em;
    color: #111;
    margin: 0.3em 0;
}

h2 {
    font-size: 2em;
    color: #222;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.5em;
    color: #222;
    margin: 0.5em 0;
}

#last-song .new-song, #last-news .new-article {
    padding: 0.6em 0;
    line-height: 1.75em;
    text-align: center;
    width: 100%;
    background-color: #A5D6A7;
    color: #1A237E;
    font-size: 0.875em;
    margin: 0.6em 0;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
}

#last-song .new-song a, #last-news .new-article a {
    font-size: 1.125em;
    display: block;
}

/***************** ARTISTS ****************************/

.artist {
    background-color: #FFCC80;
    margin: 0.5em 0;
    height: 5em;
    padding: 0.5em 0;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
}

.artist .mini-artist-image {
    display: inline-block;
    width: 5em;
    height: 5em;
    margin-left: 0.5em;

}

.artist .mini-artist-image img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.artist .artist-name {
    display: inline-block;
    color: #1565C0;
    margin-left: 2em;
    height: 100%;
    vertical-align: middle;
}

/************ SINGLE ARTIST ***************/

#artist-photo {
    width: 10em;
    height: 10em;
    margin: 1em auto;
}

#artist-photo img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#artist-bio {
    font-size: 1em;
    line-height: 1.5em;
}

#artist-list-of-albums .description-album {
    height: 4.375em;
    padding: 0.5em 0;
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    background-color: #B0BEC5;
    color: #546E7A;
    font-size: 1em;
    margin-top: 1em;
    border-bottom: 1px solid #90A4AE;
}

#artist-list-of-albums .description-album img {
    width: 4.375em;
    height: 4.375em;
    margin-left: 0.5em;
    vertical-align: middle;
    float: left;
}

#artist-list-of-albums .description-album h3 {
    margin: 0.5em 1em 0 4.775em;
}

#artist-list-of-albums .list-songs {
    margin: 0 auto;
}

#artist-list-of-albums .list-songs li {
    height: 3em;
    padding: 1em 0;
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    background-color: #CFD8DC;
    color: #546E7A;
    font-size: 0.875em;
    border-bottom: 1px solid #B0BEC5;
}

/********** ARTICLE ***********************/

.article {
    height: 3.6em;
    padding: 1.125em 0;
    line-height: 1.875em;
    text-align: center;
    width: 100%;
    background-color: #C5CAE9;
    color: #1A237E;
    font-size: 0.875em;
    margin: 0.6em 0;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
}

/****************** SINGLE ARTICLE **********************/

#article-content {
    font-size: 1em;
    line-height: 1.5em;
}

#article-data {
    margin-top: 1em;
}

#article-data #article-author {
    font-weight: bold;
    font-size: 1em;
    color: #37474F;
}

#article-data #article-date {
    font-size: 0.875em;

}

/***************** LOGIN *********************************/

#login label {
    display: block;
    font-size: 1em;
}

#login input {
    width: 100%;
    height: 3em;
    border: 1px solid #90A4AE;
    margin: 0.6em 0;
    background-color: #CFD8DC;
    text-indent: 1em;
    font-size: 0.875em;
}

#login input[type=submit] {
    height: 3.3em;
    line-height: 3.3em;
    text-align: center;
    width: 90%;
    background-color: #0277BD;
    font-size: 1.125em;
    margin: 0.875em auto 0;
    border: 0 none;
    font-weight: bolder;
    display: block;
    text-transform: uppercase;
    color: white;
    text-indent: 0;
}

#login input[type=submit]:hover {
    background-color: #0288D1;
}

#login input[type=submit]:active {
    background-color: #01579B;
}

/************* BUTTON EDIT MODE ********************/

.edit-mode {
    display: inline-block;
}

.edit-mode-form input {
    color: #01579B;
    padding: 0.6em;
    display: inline-block;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: #81D4FA;
    font-weight: bold;
    margin: 0 1.5em 1.5em;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    border-radius: 1.2em;
    min-width: 2.4em;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
}

.edit-mode-form input:hover {
    background-color: #B3E5FC;
}

.edit-mode-form input:active {
    background-color: #4FC3F7;
}

.description-album .edit-mode {
    float: right;
}

/************* BUTTON EDIT MODE ********************/

.input-form {
    margin: 1em;
}

.input-form label {
    display: block;
    font-size: 1em;
    vertical-align: top;
    line-height: 1.5em;
    margin-top: 1em;
}

.input-form input,
.input-form select,
.input-form textarea {
    width: 100%;
    height: 2.6em;
    border: 1px solid #90A4AE;
    margin: 0.6em 0;
    background-color: #CFD8DC;
    text-indent: 1em;
    font-size: 0.875em;

}

.input-form textarea {
    height: 7.5em;
    resize: none;
}

.input-form input[type=submit] {
    height: 3.3em;
    line-height: 3.3em;
    text-align: center;
    width: 90%;
    background-color: #0277BD;
    font-size: 1.125em;
    margin: 0.875em auto 0;
    border: 0 none;
    font-weight: bolder;
    display: block;
    text-transform: uppercase;
    color: white;
    text-indent: 0;
}

.input-form input[type=submit]:hover {
    background-color: #0288D1;
}

.input-form input[type=submit]:active {
    background-color: #01579B;
}

.input-form .error, .input-form .box-error {
    padding: 1em;
    border: 1px solid #B71C1C;
    background-color: #FFCDD2;
    color: #B71C1C;
    margin-top: 2em;
}

.input-form .box-error ul {
    margin-top: 0.5em;
}

.input-form .box-error li {
    list-style: circle;
    margin-left: 1.5em;
}

#artist-manager .note {
    font-style: italic;
    font-size: 0.67em;
}

/*************** USER PAGE ************************/

#logout-btn {
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    background-color: #0277BD;
    font-size: 1.125em;
    border: 0 none;
    width: 5em;
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
    color: white !important;
    text-indent: 0;
}

#logout-btn:hover {
    background-color: #0288D1;
}

#logout-btn:active {
    background-color: #01579B;
}

#like-songs .song {
    padding: 0.6em 0;
    line-height: 1.75em;
    text-align: center;
    width: 100%;
    background-color: #81C784;
    color: #1565C0;
    font-size: 0.875em;
    margin: 0.6em 0;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0 rgba(50, 50, 50, 0.5);
}

#last-song .new-song a, #last-news .new-article a {
    font-size: 1.125em;
    display: block;
}

/************* SINGLE SONG ***********************/

#song-head #details {
    text-align: center;
    margin-bottom: 2em;
}

#song-head #details span {
    font-weight: bold;
    font-size: 1.125em;
}


#song-extra iframe {
    margin: 0 auto;
    display:block;
    width: 320px;
    height: 240px;
}

/*************************
FOOTER
**************************/

#footer {
    margin: 1.5em;
    font-size: 0.6em;
    text-align: center;
    color: #9E9E9E;
}

/**********************************************/
/****************** TABLET ********************/
/**********************************************/

@media screen
and (min-width: 481px)
and (max-width: 768px) {
    /* HEADER*/
    /* CONTENT */
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #content {
        margin: 2em;
    }

    #article-content, #artist-bio {
        max-width: 900px;
        margin: 0 auto;
    }

    #login input[type=submit] {
        max-width: 700px;
    }


    #song-extra iframe{
        width: 480px;
        height: 360px;
    }

}

/**********************************************/
/****************** DESKTOP *******************/
/**********************************************/

@media screen and (min-width: 769px ) {
    body {
        padding-top: 7.25em;
    }

    #header {
        position: fixed;
        top: 0;
        left: 0;
    }

    #navigation-bar {
        height: 6.25em !important;
    }

    #navigation-bar #logo {
        float: left;
    }

    #navigation-bar #logo img {
        height: 5.25em;
    }

    #navigation-bar #menu {
        position: static;
        float: right;
        width: 72%;
        height: 100%;
        padding: 0;
        line-height: 6.25em;
    }

    #navigation-bar #menu li {
        display: inline-block;
        width: 25%;
        text-align: center;
        height: 100%;
        float: left;
    }

    #navigation-bar #menu li a {
        position: static;
        display: block;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 5.55em;
        margin: 0;
    }

    /*******************************
    ***         CONTENT
    ********************************/
    #content {
        max-width: 1200px;
        margin: 0 auto 1.5em;
        padding: 0 1em;
    }

    h1 {
        margin: 0.8em 0;
        font-size: 3.5em;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        text-align: center;
    }

    h3 {
        text-align: center;
        margin: 1.5em;
    }

    #last-news {
        width: 49%;
        margin-left: 1%;
        display: inline-block;
        vertical-align: top;
    }

    #last-song {
        width: 49%;
        display: inline-block;
    }

    /******************* ARTIST *********************/
    .artist {
        max-width: 1024px;
        margin: 0.5em auto;
    }

    /***************** SINGLE ARTIST *****************/
    #artist-description {
        text-align: center;
        margin-bottom: 1.5em;
    }

    #artist-photo {
        display: inline-block;
    }

    #artist-name {
        display: inline-block;
        vertical-align: top;
        height: 10em;
        margin-left: 1em;
    }

    #artist-bio {
        max-width: 900px;
        margin: 0 auto;
    }

    .album {
        max-width: 1024px;
        margin: 0.5em auto;
    }

    /*************** ARTICLES *************************/
    .article {
        max-width: 1024px;
        margin: 0.5em auto;
    }

    /************* SINGLE ARTICLE **********************/
    #article-content, #text-404 {
        max-width: 900px;
        margin: 0 auto;
    }

    /************* SINGLE SONG **********************/


    #song-extra iframe{
        width: 720px;
        height: 576px;
    }

    /************* LOGIN *********************************/
    #login label {
        display: inline-block;
        width: 24%;
        margin-right: 25%;
        line-height: 3em;
    }

    #login input[type=text], #login input[type=password] {
        display: inline-block;
        width: 50%;
        margin: 1em 0;
    }

    #login input[type=submit] {
        max-width: 700px;
        margin-top: 2em;
    }

    /************* BUTTON EDIT MODE *********************/
    .edit-mode-form input[type=submit] {
        margin-left: 3em;
    }

    /****************** INPUT MODIFICHE ******************/
    .input-form label {
        display: inline-block;
        width: 34%;
        margin-right: 15%;
        line-height: 3em;
    }

    .input-form input,
    .input-form select,
    .input-form textarea {
        display: inline-block;
        width: 50%;
        margin: 1em 0;
    }

    .input-form input[type=submit] {
        max-width: 700px;
        margin-top: 2em;
    }

    .input-form input[type=submit]:hover {
        background-color: #0288D1;
    }

    .input-form input[type=submit]:active {
        background-color: #01579B;
    }

    /*************************USER PAGE ********************/
    #like-songs {
        width: 60%;
        margin: 1em auto;
    }

}

