<div class="album">

    <!--Permette la modifica delle canzoni all'interno dell'album-->
    [% editButton %]

    <div class="description-album">

        <img src="../img/album/[% albumImage %]" alt="Immagine dell'album [% album %]" />
        <h3>[% album %]</h3>
	<!-- @korut94 aggiunti i bottoni per la gestione dell'album -->
	[% addButton %]
	[% modifyButton %]
        [% removeButton %]
	<!--                                                        -->

    </div>

    <div class="songs">

        <ul class="list-songs">

            [% songsList %]
        </ul>

    </div>
</div>
