!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'inserimento di un nuovo album
@keyword = album, inserimento
@title = [% artist %] - Aggiungi album
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; <a href='r.cgi?section=artists'>Artisti</a> &gt; <a href='r.cgi?section=artist&amp;id=[% idArtist %]&amp;mode=edit'>[% artist %]</a> &gt; Aggiungi album
<!-- End default meta phrases -->

META_!

<div id="album-manager">

    <h1>Gestione album</h1>

    [% boxError %]

    <form class="insert-album-form" action="../cgi-bin/[% mode %]_album.cgi" method="post">

        <fieldset>

        <p>L'asterisco (*) indica i campi obbligatori.</p>

	<input type="hidden" name="artistName" value="[% idArtist %]" />
	<input type="hidden" name="albumId" value="[% idAlbum %]" />

        <div class="error" id="err-albumName">Nome album non valido, inserire solo lettere o numeri</div>
            <label for="album-name">Nome: *</label>
            <input type="text" name="albumName" id="album-name" value="[% name %]"/>

	    <div class="error" id="err-albumImage">Nome immagine non valido, inserire un testo presenti solo lettere e numeri comprensivo del formato dell'immagine</div>
            <label for="album-image">Immagine album: *</label>
            <input type="text" name="albumImage" id="album-image" value="[% date %]"/>

            <input type="submit" value="Conferma" name="action" />
        </fieldset>
    </form>
</div>
