<div class="album">

    <div class="description-album">

        <img src="../img/album/[% albumImage %]" alt="Immagine dell'album [% album %]"/>

        <h3>Nome dell'album: [% album %]</h3>

        <div class="album-option">
            [% removeButton %]
            [% modifyButton %]
            [% addButton %]
        </div>

    </div>

    <div class="songs">
        <h4>Lista delle canzoni</h4>
        <ul class="list-songs">
            [% songsList %]
        </ul>

    </div>
</div>
