!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'inserimento di un nuovo album
@keyword = album, inserimento
@title = [% artist %] - Aggiungi album
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; <a href='r.cgi?section=artists'>Artisti</a> &gt; <a href='r.cgi?section=artist&amp;id=[% idArtist %]&amp;mode=edit'>[% artist %]</a> &gt; Aggiungi album
<!-- End default meta phrases -->

META_!

<div id="album-manager">

    <h1>Gestione album</h1>

    [% boxError %]

    <form class="insert-album-form" action="../cgi-bin/edit_album.cgi" method="post">

        <fieldset>
	    <input type="hidden" name="artistName" value="[% idArtist %]" />

	    <div class="error">Nome album non valido, inserire solo lettere o numeri</div>
            <label for="album-name">Nome</label>
            <input type="text" name="albumName" id="album-name" />

	    <div class="error">La data inserita non è valida, il formato deve essere gg-mm-yyyy</div>
            <label for="album-creation">Data di pubblicazione</label>
            <input type="text" name="albumCreation" id="album-creation" />

            <input type="submit" value="Conferma" name="action" />
        </fieldset>
    </form>
</div>
