!_META

<!-- Default meta phrases -->

@title = Articoli
@description = Pagina contenente tutti gli articoli pubblicati su PassioneKaraoke
@keyword = articoli, novit&agrave;
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; Articoli

<!-- End default meta phrases -->

META_!

<div id="articles-list">

    <h1>Lista degli articoli</h1>

    <!-- @korut94 segnaposto corretto -->
    [% editButton %]
    [% addButton %]
    <!--                              -->
    
    <h1>Lista degli articoli</h1>

    <ul id="article-list">
        [% articleList %]
        <!-- titolo e descrizione per ogni articolo -->
    </ul>

</div>
