!_META

<!-- Default meta phrases -->

@title = [% title %]
@description = Pagina riguardante [% subtitle %]
@keyword = [% title %]
@breadcrumb = <a href='r.cgi?section=index'> Home </a> &gt; <a href='r.cgi?section=articles'> Articoli </a> &gt; [% title %]

<!-- End default meta phrases -->

META_!
<!-- info riguardanti l'autore dell'articolo -->
<div id="article-data">
    <span id="article-author">Autore: [% author %]</span>
    <span id="article-date">Data creazione dell'articolo: [% date %]</span>
</div>

<!-- intestazione articolo -->
<div id="article-head">
    <h1>Titolo: [% title %]</h1>
    <h2>Sottotitolo: [% subtitle %]</h2>
</div>

<!-- contenuto articolo -->
<div id="article-content">
    <!-- Veramente qui bisogna specificare che c'è del il contenuto? -->
    <h3>Articolo</h3>
    [% content %]
</div>
