<div id="artist-manager">

    <h1>Gestione artista</h1>

    <p>Nota: &egrave; possibile inserire formattazione html nel testo dell'articolo.</p>

    <form class="insert-artist-form" action="../cgi-bin/edit_artist.cgi" method="post">

        <fieldset>

            <label for="a-Nick">Nome d'arte o nome del gruppo</label>
            <input type="text" name="artistNick" class="artist-nick" id="a-Nick" />
            <label for="a-Born">Nascita dell'artista o formazione del gruppo</label>
            <input type="text" name="artistBorn" class="artist-born" id="a-Born" />
            <label for="a-Death">Morte dell'artista o scioglimento della band (vuoto se ancora in vita)</label>
            <input type="text" name="artistDeath" class="artist-death" id="a-Death" />
            <label for="a-Image">Nome d'arte o nome del gruppo</label>
            <input type="text" name="artistImage" class="artist-image" id="a-Image" />
            <label for="a-Description">Nome dell'immagine</label>
            <textarea name="artistDescription" class="artist-description" id="a-Description" rows="80" cols="40"></textarea>

            <input type="submit" value="Conferma" name="action" />
            <input type="submit" value="&#43" name="action" />
        </fieldset>
    </form>
</div>
