!_META

<!-- Default meta phrases -->

@title = News
@description = Pagina riguardante [% title %]
@keyword = [% title %]

<!-- End default meta phrases -->

META_!
<!-- info riguardanti l'autore dell'articolo -->
<div id="article-data">
    <span id="article-author">[% author %]</span>
    <span id="article-date">[% date %]</span>
</div>

<!-- intestazione articolo -->
<div id="article-head">
    <h1>[% title %]</h1>
    <h2>[% subtitle %]</h2>
</div>

<!-- contenuto articolo -->
<div id="article-content">
    [% content %]
</div>
