!_META

<!-- Default meta phrases -->

@description = Lista di tutti gli artisti presenti in PassioneKaraoke
@keyword = artisti, lista, cantanti, gruppi
@title = Lista cantanti e gruppi
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; Artisti

<!-- End default meta phrases -->

META_!

<div id="artists-list">

    <h1>Lista di tutti gli artisti</h1>

    [% editButton %]
    <!-- @korut94 rimosso AlbumManager e aggiunto addButton -- >
    <!-- questo elemento non deve vedersi!! -->
    [% addButton %]
    <!--                                                            --> 
    <ul id="artist-list">

        [% listOfArtists %]
    </ul>
</div>
