!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'inserimento di un nuovo artista
@keyword = artisti, inserimento
@title = Aggiungi artista
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; <a href='r.cgi?section=artists'>Artisti</a> &gt; Aggiungi artista
<!-- End default meta phrases -->

META_!

<div id="artist-manager">

    <h1>Gestione artista</h1>

    <p class="note">Nota: &egrave; possibile inserire formattazione html nel testo dell'articolo.</p>

    [% boxError %]
    
    <form class="insert-artist-form" action="../cgi-bin/edit_artist.cgi" method="post">
        <fieldset>
	  
            <div class="error">Nome d'arte non valido, inserire un testo presenti solo lettere e numeri</div>
            <label for="a-Nick">Nome d'arte o nome del gruppo</label>
	    <input type="text" name="artistNick" class="artist-nick" id="a-Nick" />
	    <div class="error">La data inserita non &egrave; valida, il formato deve essere gg-mm-yyyy </div>
            <label for="a-Born">Nascita dell'artista o formazione del gruppo</label>
            <input type="text" name="artistBorn" class="artist-born" id="a-Born" />
	    <div class="error">La data inserita non &egrave; valida, il formato deve essere gg-mm-yyyy </div>
            <label for="a-Death">Morte dell'artista o scioglimento della band (vuoto se ancora in vita)</label>
            <input type="text" name="artistDeath" class="artist-death" id="a-Death" />
	    <div class="error">Nome immagine non valido, inserire un testo presenti solo lettere e numeri</div>
            <label for="a-Image">Immagine dell'artista</label>
            <input type="text" name="artistImage" class="artist-image" id="a-Image" />
	    <div class="error">Descrizione non valida</div>
            <label for="a-Description">Descrizione dell'artista</label>
            <textarea name="artistDescription" class="artist-description" id="a-Description" rows="80" cols="40"></textarea>
            <input type="submit" value="Conferma" name="action" />
        </fieldset>
    </form>
</div>
