!_META

<!-- Default meta phrases -->

@description = Modulo di inserimento/modifica cantante o gruppo
@keyword = amministrazione, inserimento, modifica, cantante, gruppo
@title = Gestione artista

<!-- End default meta phrases -->

META_!

<div id="artist-manager">

    <h1>Gestione artista</h1>

    <p>Nota: &egrave; possibile inserire formattazione html nel testo dell'articolo.</p>

    <!-- Per il singolo artista -->
    <form class="insert-artist-form" action="../cgi-bin/edit.cgi" method="post">

        <input type="hidden" name="mode" value="[% actionType %]" />
        <input type="hidden" name="section" value="artist" />

        <label for="a-Name">Nome</label>
        <input type="text" name="artistName" class="artist-name" id="a-Name" />
        <label for="a-Surname">Cognome (se Cantautore)</label>
        <input type="text" name="artistSurname" class="artist-surname" id="a-Surname" />
        <label for="a-Nick">Nome d'arte (vuoto se non presente)</label>
        <input type="text" name="artistNick" class="artist-nick" id="a-Nick" />
        <label for="a-Born">Nascita dell'artista o formazione del gruppo</label>
        <input type="text" name="artistBorn" class="artist-born" id="a-Born" />
        <label for="a-Death">Morte dell'artista o scioglimento della band (vuoto se ancora in vita)</label>
        <input type="text" name="artistDeath" class="artist-death" id="a-Death" />
        <label for="a-Description">Descrizione</label>
        <textarea name="artistDescription" class="artist-description" id="a-Description" rows="80" cols="40"></textarea>

        <input type="submit" value="Conferma" name="action" />
    </form>
</div>
