!_META

<!-- Default meta phrases -->

@description = Pagina con la liste delle canzoni e degli album di [% artist %]
@keyword = [% artist %]

<!-- End default meta phrases -->

META_!

<div id="artist-description">

    <div id="artist-foto">

        <img src="!_pathArtista_!" alt="Immagine dell'artista !_nomeArtista_!" />
    </div>

    <div id="artist-name">

        <h1>!_nomeCantante_!</h1>
    </div>
</div>

<div id="artist-bio">

    !_bioArtista_!
</div>


<!-- Qui vanno elencati tutti gli album -->
!_listaAlbum_!
