!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'aggiunta di un nuovo articolo
@keyword = articolo, aggiunta
@title = Aggiungi articolo
@breadcrumb = <a href='r.cgi?section=index'><span lang='en'>Home</span></a> &gt; <a href='r.cgi?section=articles'>Articoli</a> &gt; Aggiungi articolo
<!-- End default meta phrases -->

META_!

<div id="article-manager">

	<h1>Gestione Articolo</h1>

	[% boxError %]

    <form class="insert-article-form" action="../cgi-bin/edit_article.cgi" method="post">
        <fieldset>

	    <div class="error">Nome autore non valido, inserire un testo presenti solo lettere e numeri</div>
            <label for="articleAuthor">Autore</label>
            <input type="text" name="articleAuthor" class="article-author" id="articleAuthor" />

	    <div class="error">La data inserita non è valida, il formato deve essere gg-mm-yyyy</div>
            <label for="articleData">Data</label>
            <input type="text" name="articleData" class="article-data" id="articleData" />

	    <div class="error">Titolo errato, inserire un testo presenti solo lettere e numeri</div>
            <label for="articleTitle">Titolo</label>
            <input type="text" name="articleTitle" class="article-title" id="articleTitle"/>

	    <div class="error">Sottotitolo errato, inserire un testo presenti solo lettere e numeri</div>
            <label for="articleSubtitle">Sottotitolo</label>
            <input type="text" name="articleSubtitle" class="article-subtitle" id="articleSubtitle"/>

            <label for="articleContent">Contenuto</label>
            <textarea name="articleContent" class="article-content" id="articleContent" rows="80" cols="40"></textarea>

            <input type="submit" value="Conferma" name="action" />
        </fieldset>
    </form>
</div>
