<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>!_nomeArticolo_! - Passione Karaoke</title>

        <meta name="title" content="!_nomeArticolo_! - Passione Karaoke" />
        <meta name="description" content="Pagine che contiene le ultime novità riguardo !_nomeArticolo_!" />
        <!-- chiedere alla prof se preferisce una descrizione generica con parametri passati da perl o
            un descrizione personalizzata per ogni articolo-->
        <meta name="keywords" content="karaoke, musica, canzoni, artisti, !_nomeArticolo_!" />
        <meta name="language" content="italian it" />
        <meta name="author" content="Fabio Massignan, Davide Polonio, Andrea Mantovani, Luca Bianco" />

        <!-- Link ai vari css tramite posizione relativa-->
    </head>
        <!-- manca ancora header, menu, login -->
        <div id="article-head">
            <h1>!_titolo_!</h1>
            <h2>!_sottotitolo_!</h2>
        </div>

        <div id="article-content">
            !_contenuto_!
        </div>

    <body>

    </body>
