!_META

<!-- Default meta phrases -->

@description = Pagina con la liste delle canzoni e degli album di [% artist %]
@keyword = [% artist %]
@title = [% artist %]
<!-- End default meta phrases -->

META_!

<div id="artist-content">

    <div id="artist-description">

        <!-- Modalità modifica per l'artista -->
        [% editMode %]

        <div id="artist-photo">

            <img src="[% artistPhoto %]" alt="Immagine dell'artista [% artist %]" />
        </div>

        <div id="artist-name">

            <h2>[% artist %]</h2>
        </div>
    </div>

    <div id="artist-bio">

        [% artistBio %]
    </div>

    <div id="artist-list-of-albums">

        <h1>Lista degli album</h1>

        <!--Permette la modifica degli album -->
        [% editMode %]


        <!-- Qui vanno elencati tutti gli album -->
        [% albumList %]

    </div>

</div>
