!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'aggiunta di un nuovo articolo
@keyword = articolo, aggiunta
@title = Aggiungi articolo
@breadcrumb = <a href='r.cgi?section=index'><span xml:lang='en'>Home</span></a> &gt; Articoli &gt; Aggiungi articolo
<!-- End default meta phrases -->

META_!

<div id="article-manager">

	<h1>Gestione Articolo</h1>

    <form class="insert-article-form" action="../cgi-bin/edit_article.cgi" method="post">

        <fieldset>

            <label for="articleAuthor">Autore</label>
            <input type="text" name="articleAuthor" class="article-author" id="articleAuthor" />

            <label for="articleData">Data</label>
            <input type="text" name="articleData" class="article-data" id="articleData" />

            <label for="articleTitle">Titolo</label>
            <input type="text" name="articleTitle" class="article-title" id="articleTitle"/>

            <label for="articleSubtitle">Sottotitolo</label>
            <input type="text" name="articleSubtitle" class="article-subtitle" id="articleSubtitle"/>

            <label for="articleContent">Contenuto</label>
            <textarea name="articleContent" class="article-content" id="articleContent" rows="80" cols="40"></textarea>

            <input type="submit" value="Conferma" name="action" />
            <input type="submit" value="&#43" name="action" />
        </fieldset>
    </form>
</div>
