<div id="category-manager">

	<h1>Gestione Categorie</h1>

    <form class="manage-category-form" class="input-form" action="../cgi-bin/edit_category.cgi" method="post">

        <fieldset>

            <label for="categoryName">Nome categoria</label>
            <input type="text" name="categoryName" class="category-name" id="categoryName" />

            <input type="submit" value="Conferma" name="action" />
            <input type="submit" value="&#43" name="action" />
        </fieldset>
    </form>
</div>
