!_META

<!-- Nota: per il momento e' solamente possibile aggiungere categorie -->

<!-- Default meta phrases -->

@description = Modulo di inserimento/modifica categorie
@keyword = amministrazione, inserimento, modifica, categorie
@title = Gestione articoli

<!-- End default meta phrases -->

META_!

<div id="category-manager">

	<h1>Gestione Categorie</h1>

    <form class="manage-category-form" action="../cgi-bin/edit.cgi" method="post">

        <fieldset>

            <input type="hidden" name="section" value="category" />

            <label for="categoryName">Nome categoria</label>
            <input type="text" name="categoryName" class="category-name" id="categoryName" />

            <input type="submit" value="Conferma" name="action" />
        </fieldset>
    </form>
</div>
