<div class="edit-mode">
        <!-- @korut94 Correto link per il reload alla pagina in edit mode -->
        <form class="edit-mode-form" action="../cgi-bin/[% link %]" method="post">
        <!--                                                              -->
            <fieldset>
	      <input type="hidden" name="args" class="arguments" value="[% args %]" />
                <!-- <input type="submit" value="[% value %]" name="action" /> -->

				<input name="modifica" id="modifica" src="../img/artist/[% value %].svg" title="[% value %]" alt="[% value %]" value="[% value %]" type="Image">
            </fieldset>
    </form>
</div>
