!_META

<!-- Default meta phrases -->

@title = Login
@description = Pagina di login per accedere alle funzionalit&agrave; del sito
@keyword = login, pagina, personale

<!-- End default meta phrases -->

META_!
        <div class="[% visible %]">
            <p>L'<span xml:lang="en">username</span> o la <span xml:lang="en">password</span> inseriti sono errati.</p>
        </div>

        <div id="login">
            <h1>Pagina di <span xml:lang="en">login</span></h1>
            <form id="login-form" action="../cgi-bin/login.cgi" method="post">
                <label for="username"><span xml:lang="en">Username</span></label>
                <input name="username" id="username" maxlength="18"/>
                <label for="password"><span xml:lang="en">Password</span></label>
                <input type="password" name="password" id="password" maxlength="8"/>
                <input type="submit" value="login" name="action" />
            </form>
    </div>


