!_META

<!-- Default meta phrases -->

@description = Pagina di login per accedere alle funzionalit&agrave del sito
@keyword = login, pagina, personale
@breadcumb = Login, cgi-bin/r.pl?section=login

<!-- End default meta phrases -->

META_!

        <div id="login">
            <form id="login-form" action="../cgi-bin/login.cgi" method="post">
                <label for="username"><span xml:lang="en">Username</span></label>
                <input name="username" id="username" maxlength="18"/>
                <label for="password"><span xml:lang="en">Password</span></label>
                <input type="password" name="password" id="password" maxlength="8"/>
                <input type="submit" value="login" name="action" />
            </form>
        </div>

