<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- scrivere title con keyword su title -->
    <title>[% title %] - Passione Karaoke</title>

    <!-- key meta -->

    <meta name="title" content="[% title %] Passione Karaoke"/>
    <meta name="description" content="[% description %]"/>
    <meta name="keywords" content="[% keyword %]"/>
    <meta name="language" content="italian it"/>
    <meta name="author" content="Fabio Massignan, Davide Polonio, Andrea Mantovani, Luca Bianco"/>
    <link rel="stylesheet" type="text/css" href="../../public_html/assets/style/style.css"/>

</head>


<body>

<div id="header">

    <div id="navigation-bar">
        <div id="logo">This is the logo</div>
        <ul id="menu"><!-- Il link attivo cambierà con JavaScript -->
            <li><a href="">Home</a></li><!--
            --><li><a href="">Artisti</a></li><!--
            --><li><a href="">Articoli</a></li><!--
            --><li><a href="">Classifiche</a></li><!--
            --><li><a href="">Account</a></li> <!-- Voce da modificare -->
        </ul>
    </div>

    <!--
    <div id="account-management">
        <a href="#">Accedi</a>
    </div>
    -->
    <div id="search">
        <form id="search-form" action="../cgi-bin/search.cgi" method="get">
            <input type="text" name="searchBox" id="searchBox"/><!--
        --><input type="submit" value="Cerca" name="action"/>
        </form>
    </div>
</div>

<div id="content">

    <div id="navBar">
        <p>Ti trovi in: [% breadcumb %]</p>
    </div>

    [% content %]

</div>

<div id="footer">
    <div id="copyright">
        <p>Creato da: Fabio Massignan, Polonio Davide, Luca Bianco, Andrea Mantovani &copy; 2015</p>
    </div>
</div>

</body>

</html>
