<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- scrivere title con keyword su title -->
    <title>[% title %] - Passione Karaoke</title>

    <!-- key meta -->

    <meta name="title" content="[% title %] Passione Karaoke"/>
    <meta name="description" content="[% description %]"/>
    <meta name="keywords" content="[% keyword %]"/>
    <meta name="language" content="italian it"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Fabio Massignan, Davide Polonio, Andrea Mantovani, Luca Bianco"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../public_html/assets/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../public_html/assets/style/media_smartphone.css"/>
    <link rel="stylesheet" type="text/css" href="../../public_html/assets/style/media_tablet.css"/>

</head>


<body>

<div id="header">

    <div id="navigation-bar">
        <div id="logo"><img src="../img/logo.svg" alt="Logo Passione Karaoke"></div>
        <input type="button" id="open-menu-btn">
        <ul id="menu"><!-- Il link attivo cambierà con JavaScript -->
            <li><a href="r.cgi?section=index">Home</a></li><!--
            --><li><a href="r.cgi?section=artists">Artisti</a></li><!--
            --><li><a href="r.cgi?section=articles">Articoli</a></li><!--
            --><li><a href="">Classifiche</a></li><!--
             @korut94 aggiunto segnaposto in modo da far apparire il nome dell'utente quando sara' loggato
            --><li><a href="r.cgi?[% ref_user %]">[% user %]</a></li> <!-- Voce da modificare -->
        </ul>
    </div>
    <script>
        (function(){
            var btn = document.getElementById("open-menu-btn");
            var menu = document.getElementById("menu");
            var menuOpen = false;
            btn.onclick = function () {
                if(menuOpen)
                    menu.className = "";
                else
                    menu.className = "open";
                menuOpen = !menuOpen;
            };
        })();
    </script>
    <!--
    <div id="account-management">
        <a href="#">Accedi</a>
    </div>
    -->

</div>

<div id="content">

    <div id="navBar">
        <p>Ti trovi in: [% breadcrumb %]</p>
    </div>

    [% content %]


</div>

<div id="footer">
    <div id="copyright">
        <p>Creato da: Fabio Massignan, Polonio Davide, Luca Bianco, Andrea Mantovani &copy; 2015</p>
    </div>
</div>

</body>

</html>
