!_META

@description = Risultati di ricerca per [% query %]
@keyword = risultati, ricerca
@title = [% query %]

<!-- O e' meglio mettere: Risultati di ricerca per [% query %]? -->
META_!

<div id="search-results">

    <h1>Elementi trovati: [% itemsFound %]</h1>

    <ul id="search-results-list">

        <!-- I risultati di ricerca sono stati fatti "alla google", ovvero con un
        "titolo" come link e con una piccola descrizione sotto. Ovviamente ciò
        può essere cambiato -->

        [% searchResults %]
    </ul>
</div>
