!_META

<!-- Default meta phrases -->

@description = Pagina di registrazione
@keyword = sign-in, pagina, personale


<!-- End default meta phrases -->

META_!


<div id="signin">

    <h1>Pagina di registrazione</h1>

    <form id="signin-form" action="../cgi-bin/signin.cgi" method="post">

        <label for="email"><span xml:lang="en">E-Mail</span></label>
        <input name="email" id="email" maxlength="18"/>

        <label for="username"><span xml:lang="en">Username</span></label>
        <input name="username" id="username" maxlength="18"/>

        <label for="password"><span xml:lang="en">Password</span></label>
        <input type="password" name="password" id="password" maxlength="8"/>


        <input type="submit" value="Registrati" name="action" />
    </form>
</div>
