!_META

<!-- Default meta phrases -->

@description = Pagina che permette l'aggiunta di una nuova canzone in un album
@keyword = canzone, aggiunta
@title = Aggiungi canzone
@breadcrumb = <a href='r.cgi?section=index'><span xml:lang='en'>Home</span></a> &gt; <a href='r.cgi?section=artists'>Artisti</a> &gt; <a href='r.cgi?section=artist&amp;id=[% idArtist %]'>[% artist %]</a> &gt; Aggiungi canzone
<!-- End default meta phrases -->

META_!

<div id="song-manager">

    <h1>Gestione canzone</h1>

    <p>Nota: &egrave; possibile inserire formattazione html nel testo dell'articolo.</p>

    <form id="insert-song-form" action="../cgi-bin/edit_song.cgi" method="post">

        <fieldset>
	    <!-- @korut94 aggiunto campi nascosti per il passaggio degli id dell'artista ed album allo script -->
	    <input type="hidden" name="songArtist" id="song-artist" value="[% artist %]" />
	    <input type="hidden" name="songAlbum" id="song-album" value="[% album %]" />
	    <!--                                                                                              -->
	  
            <input type="text" name="songTitle" id="song-title" />
            <textarea name="songLyrics" id="song-lyrics" rows="80" cols="40"></textarea>
            <textarea name="songExtra" id="song-extra" rows="80" cols="40"></textarea>
            <!-- Le righe e le colonne definite in css? -->
            <input type="submit" value="Conferma" name="action" />
            <input type="submit" value="&#43" name="action" />

        </fieldset>
    </form>

</div>
