<div id="song-votes">
    <form id="song-like" action="../cgi-bin/values.cgi" method="post">
            <fieldset>
                <input type="hidden" name="user" value="[% user %]" />
                <input type="hidden" name="artist" value="[% artist %]" />
                <input type="hidden" name="album" value="[% album %]" />
                <input type="hidden" name="song" value="[% song %]" />
                <input type="hidden" name="like" id="like" value="1" />


				<input name="action" class="button" src="../img/like.png" title="Pulsante mi piace" alt="Mi piace" value="Pulsante mi piace" type="Image">

            </fieldset>
    </form>

    <form id="song-unlike" action="../cgi-bin/values.cgi" method="post">
            <fieldset>
                <input type="hidden" name="user" value="[% user %]" />
                <input type="hidden" name="artist" value="[% artist %]" />
                <input type="hidden" name="album" value="[% album %]" />
                <input type="hidden" name="song" value="[% song %]" />
                <input type="hidden" name="like" id="unlike" value="-1" />


				<input name="action" class="button" src="../img/unlike.png" title="Pulsante non mi piace" alt="Non mi piace" value="Pulsante non mi piace" type="Image">
            </fieldset>
    </form>
</div>
