<div id="song-manager">

    <h1>Gestione canzone</h1>

    <p>Nota: &egrave; possibile inserire formattazione html nel testo dell'articolo.</p>

    <form id="insert-song-form" action="../cgi-bin/edit.cgi" method="post">

        <fieldset>

            <input type="text" name="songTitle" id="song-title" />
            <textarea name="songLyrics" id="song-lyrics" rows="80" cols="40"></textarea>
            <textarea name="songExtra" id="song-extra" rows="80" cols="40"></textarea>
            <!-- Le righe e le colonne definite in css? -->
            <input type="submit" value="Conferma" name="action" />
            <input type="submit" value="&#43" name="action" />

        </fieldset>
    </form>

</div>
