!_META

<!-- Default meta phrases -->

@title = Pagina Utente
@description = Pagina riservata alla gestione dell'utente
@keyword = utente, user

<!-- End default meta phrases -->

META_!

<p>Pagina di [% username %]</p>

<div id="personal-data">
    <form class="edit-data" action="../cgi-bin/edit.cgi" method="post">

        <fieldset>

            <label for="username">Username</label>
            <input type="text" name="username" class="username" id="username"/>

            <label for="email"><span xml:lang="en">E-Mail</span></label>
            <input name="email" id="email" maxlength="18"/>

            <label for="password"><span xml:lang="en">Password</span></label>
            <input type="password" name="password" id="password" maxlength="8"/>

            <input type="submit" value="Registrati" name="action" />
        </fieldset>
    </form>
</div>

<!-- ampliabile inserendo anche la lista delle canzoni preferite -->

<!-- visibile solo dall'amministratore -->
[% adminTools %]
