* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: 0 none;
    list-style: none;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 88px;
    color: #616161;
}

/********************
 HEADER
 ********************/
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #03A9F4;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.6);
}

#navigation-bar {
    width: 100%;
    height: 72px;
}

#navigation-bar #logo {
    height: 100%;
    width: 200px;
    margin-left: 16px;
}

#navigation-bar #logo img {
    height: 60px;
    margin: 5px auto;
}

#navigation-bar #menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #03A9F4;
    z-index: 99;
    text-transform: uppercase;
    padding-top: 30px;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
}

#navigation-bar #open-menu-btn {
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 12px;
    right: 16px;
    z-index: 100;
    font-size: 1px;
    color: #0277BD;
    background: url('../../img/menu-hamb.svg') no-repeat center;
    background-size: contain;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
}

#navigation-bar #open-menu-btn:active {
    background-color: #0277BD;
}

#navigation-bar #menu.open {
    left: 0;
}

#navigation-bar #menu li {
    display: block;
    height: 20%;
    width: 100%;
    position: relative;
}

#navigation-bar #menu li a {
    font-size: 18px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    width: 100%;
    margin-top: -40px;
    color: #E1F5FE;
    text-align: center;
}

#navigation-bar #menu li a:hover {
    color: white;
    background-color: #29B6F6;
}

#navigation-bar #menu li a:active {
    color: white;
    background-color: #039BE5;
}

/*************************
 CONTENT
 *************************/

#content {
    margin: 6px;
}

#nav-bar {
    color: #616161;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: #455A64;
    margin: 16px 0;
}

h2 {
    font-size: 28px;
    color: #455A64;
    margin: 16px 0;
}

h3 {
    font-size: 18px;
    color: #546E7A;
    margin: 10px 0;
}

#last-song .new-song, #last-news .new-article {
    height: 50px;
    padding: 16px 0;
    line-height: 25px;
    text-align: center;
    width: 100%;
    background-color: #81C784;
    color: #1565C0;
    font-size: 14px;
    margin: 6px 0;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

#last-song .new-song a, #last-news .new-article a {
    color: #1A237E;
    font-size: 18px;
    display: block;
}

#last-song .new-song a:hover, #last-news .new-article a:hover {
    text-decoration: underline;
}

#last-news .new-article a {
    display: block;
}

/***************** ARTISTS ****************************/

.artist {
    background-color: #CFD8DC;
    margin: 6px 0;
    height: 80px;
    padding: 6px 0;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.artist .mini-artist-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 6px;

}

.artist .mini-artist-image img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.artist .artist-name {
    display: inline-block;
    margin-left: 26px;
    height: 100%;
    vertical-align: middle;
}

/************ SINGLE ARTIST ***************/

#artist-photo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#artist-photo img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
}

#artist-bio {
    color: #263238;
    font-size: 16px;
    line-height: 24px;
}

#artist-list-of-albums .description-album {
    height: 70px;
    padding: 6px 0;
    line-height: 25px;
    text-align: left;
    width: 100%;
    background-color: #B0BEC5;
    color: #546E7A;
    font-size: 14px;
    margin-top: 16px;
    border-bottom: 1px solid #90A4AE;
}

#artist-list-of-albums .description-album img {
    width: 70px;
    height: 70px;
    margin-left: 16px;
    background-color: green;
    vertical-align: middle;
}

#artist-list-of-albums .description-album h3 {
    display: inline-block;
    margin-left: 16px;
}

#artist-list-of-albums .list-songs {
    margin: 0 auto;
}

#artist-list-of-albums .list-songs li {
    height: 50px;
    padding: 16px 0;
    line-height: 25px;
    text-align: center;
    width: 100%;
    background-color: #CFD8DC;
    color: #546E7A;
    font-size: 14px;
    border-bottom: 1px solid #B0BEC5;
}

/********** ARTICLE ***********************/

.article {
    height: 50px;
    padding: 16px 0;
    line-height: 25px;
    text-align: center;
    width: 100%;
    background-color: #CFD8DC;
    color: #546E7A;
    font-size: 14px;
    margin: 6px 0;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.article strong {
    font-size: 18px;
    color: #0D47A1;
}

/****************** SINGLE ARTICLE **********************/

#article-content {
    color: #263238;
    font-size: 16px;
    line-height: 24px;
}

#article-data {
    margin-top: 16px;
}

#article-data #article-author {
    font-weight: bold;
    font-size: 16px;
    color: #37474F;
}

#article-data #article-date {
    font-size: 14px;

}

/***************** LOGIN *********************************/

#login label {
    display: block;
    font-size: 16px;
}

#login input {
    width: 100%;
    height: 40px;
    border: 1px solid #90A4AE;
    margin: 8px 0;
    background-color: #CFD8DC;
    text-indent: 15px;
    font-size: 14px;
}

#login input[type=submit] {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 90%;
    background-color: #0277BD;
    font-size: 18px;
    margin: 16px auto 0;
    border: 0 none;
    font-weight: bolder;
    display: block;
    text-transform: uppercase;
    color: white;
    text-indent: 0;
}

#login input[type=submit]:hover {
    background-color: #0288D1;
}

#login input[type=submit]:active {
    background-color: #01579B;
}

/************* BUTTON EDIT MODE ********************/

.edit-mode {
    display: inline-block;
}

.edit-mode-form input {
    color: #01579B;
    padding: 7px;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #81D4FA;
    font-weight: bold;
    margin: 0 16px 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    min-width: 30px;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.edit-mode-form input:hover {
    background-color: #B3E5FC;
}

.edit-mode-form input:active {
    background-color: #4FC3F7;
}

.description-album .edit-mode {
    float: right;
}

/************* BUTTON EDIT MODE ********************/

.input-form {
    margin: 16px;
}

.input-form label {
    display: block;
    font-size: 16px;
    vertical-align: top;
    line-height: 24px;
    margin-top: 16px;
}

.input-form input,
.input-form select,
.input-form textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #90A4AE;
    margin: 8px 0;
    background-color: #CFD8DC;
    text-indent: 15px;
    font-size: 14px;

}

.input-form textarea {
    height: 120px;
    resize: none;
}

.input-form input[type=submit] {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 90%;
    background-color: #0277BD;
    font-size: 18px;
    margin: 16px auto 0;
    border: 0 none;
    font-weight: bolder;
    display: block;
    text-transform: uppercase;
    color: white;
    text-indent: 0;
}

.input-form input[type=submit]:hover {
    background-color: #0288D1;
}

.input-form input[type=submit]:active {
    background-color: #01579B;
}

.input-form .error, .input-form .box-error {
    padding: 16px;
    border: 1px solid #B71C1C;
    background-color: #FFCDD2;
    color: #B71C1C;
    margin-top: 32px;
}

.input-form .box-error ul {
    margin-top: 8px;
}

.input-form .box-error li{
    list-style: circle;
    margin-left: 24px;
}

#artist-manager .note {
    font-style: italic;
    font-size: 12px;
}

/*************************
FOOTER
**************************/

#footer {
    margin: 16px;
    font-size: 12px;
    text-align: center;
    color: #9E9E9E;
}

/**********************************************/
/****************** TABLET ********************/
/**********************************************/

@media screen
and (min-width: 481px)
and (max-width: 1023px) {
    /* HEADER*/
    /* CONTENT */
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    #content {
        margin: 16px;
    }

    #article-content, #artist-bio {
        max-width: 900px;
        margin: 0 auto;
    }

    #login input[type=submit] {
        max-width: 700px;
    }
}

/**********************************************/
/****************** DESKTOP *******************/
/**********************************************/

@media screen and (min-width: 1024px ) {
    body {
        padding-top: 132px;
    }

    #navigation-bar {
        height: 100px !important;
    }

    #navigation-bar #logo {
        float: left;
    }

    #navigation-bar #logo img {
        height: 90px;
    }

    #navigation-bar #open-menu-btn {
        display: none;
    }

    #navigation-bar #menu {
        position: static;
        float: right;
        width: 74%;
        height: 100%;
        padding: 0;
        line-height: 100px;
    }

    #navigation-bar #menu li {
        display: inline-block;
        width: 20%;
        text-align: center;
        height: 100%;
        float: left;
    }

    #navigation-bar #menu li a {
        position: static;
        display: block;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        line-height: 100px;
        color: #E1F5FE;
        margin: 0;
    }

    /*******************************
    ***         CONTENT
    ********************************/
    #content {
        max-width: 1200px;
        margin: 0 auto 24px;
    }

    h1 {
        margin: 48px 0;
        font-size: 56px;
        text-align: center;
    }

    h2 {
        font-size: 32px;
        text-align: center;
    }

    h3 {
        text-align: center;
        margin: 24px;
    }

    #last-news {
        width: 49%;
        margin-left: 1%;
        display: inline-block;
        vertical-align: top;
    }

    #last-song {
        width: 49%;
        display: inline-block;
    }

    /******************* ARTIST *********************/
    .artist {
        max-width: 1024px;
        margin: 6px auto;
    }

    /***************** SINGLE ARTIST *****************/
    #artist-description {
        text-align: center;
        margin-bottom: 24px;
    }

    #artist-photo {
        display: inline-block;
    }

    #artist-name {
        display: inline-block;
        vertical-align: top;
        height: 150px;
        margin-left: 16px;
    }

    #artist-bio {
        max-width: 900px;
        margin: 0 auto;
    }

    .album {
        max-width: 1024px;
        margin: 6px auto;
    }

    /*************** ARTICLES *************************/
    .article {
        max-width: 1024px;
        margin: 6px auto;
    }

    /************* SINGLE ARTICLE **********************/
    #article-content {
        max-width: 900px;
        margin: 0 auto;
    }

    /************* LOGIN *********************************/
    #login label {
        display: inline-block;
        width: 24%;
        margin-right: 25%;
        line-height: 40px;
    }

    #login input[type=text], #login input[type=password] {
        display: inline-block;
        width: 50%;
        margin: 16px 0;
    }

    #login input[type=submit] {
        max-width: 700px;
        margin-top: 32px;
    }

    /************* BUTTON EDIT MODE *********************/
    .edit-mode-form input[type=submit] {
        margin-left: 40px;
    }

    /****************** INPUT MODIFICHE ******************/
    .input-form label {
        display: inline-block;
        width: 34%;
        margin-right: 15%;
        line-height: 42px;
    }

    .input-form input,
    .input-form select,
    .input-form textarea {
        display: inline-block;
        width: 50%;
        margin: 16px 0;
    }

    .input-form input[type=submit] {
        max-width: 700px;
        margin-top: 32px;
    }

    .input-form input[type=submit]:hover {
        background-color: #0288D1;
    }

    .input-form input[type=submit]:active {
        background-color: #01579B;
    }
}